.dialog-header {
  background: #4285f4;
}

.profile-image-container {
  max-width: 150px;
  margin: 10px 0px;

  .image{
    width: 100%;
    border-radius: 50%;
    margin: 0;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: 768px) {
  .fix-height {
    height: 400px;
  }
}

@media (min-width: 320px) {
  .fix-height {
    height: 430px;
  }
}
