.dialog-header {
  background: #4285f4;
}

.profile-image {
  max-width: 150px;
  margin: 10px 0px;
}

.speaker {
  width: 100%;
  border-radius: 50%;
  margin: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
