@media (min-width: 320px) {
  .min-height-sponsor {
    min-height: 300px;
  }
}

@media (min-width: 768px) {
  .min-height-sponsor {
    min-height: 300px;
  }
}

@media (min-width: 992px) {
  .min-height-sponsor {
    min-height: 800px;
  }
}

@media (min-width: 2000px) {
  .min-height-sponsor {
    min-height: 870px;
  }
}



