<div class="container">
  <section class="row mt-lg-0 mt-md-5 mt-5 mb-5" style="min-height: 400px;">
    <div class="col-md-6 col-12 align-self-center">
      <h3 style="width: 90%">
        I/O Brings together developers from around the globe for talks, hands on learning with Google experts, and a first look at google latest product.
      </h3>
      <h5 class="font-weight-light mt-4">29 June · Wawasan Open University Penang · 0930-1700</h5>
      <a class="btn btn-primary my-3" href="https://www.eventbrite.sg/e/google-io-extended-george-town-2019-tickets-62453451956#tickets">Buy Ticket</a>

    </div>
    <div class="col-md-6 col-12 align-self-center mt-5 mt-md-0">
      <div class="d-flex justify-content-center">
        <img src="../../assets/images/io.png" class="w-50 h-50">
      </div>
    </div>
  </section>

  <section class="row my-lg-5 my-md-0 my-5" style="min-height: 450px;">
    <div class="col-md-6 col-12 align-self-center mt-md-0 mt-5 pr-1">
      <div class="d-flex justify-content-center">
        <img src="../../assets/images/img-group-lg.png" class="w-100 h-100">
      </div>
    </div>

    <div class="col-md-6 col-12 align-self-center mt-md-0 mt-5 pl-1">
      <div class="d-flex justify-content-center">
        <img src="../../assets/images/img-group-lf.png" class="w-100 h-100">
      </div>
    </div>
  </section>

  <section class="row my-lg-5 my-md-3 my-5">
    <div class="col">
      <h3 class="my-4">Check out the I/O'19 recap</h3>
      <iframe width="100%"
              height="500"
              src="https://www.youtube.com/embed/lyRPyRKHO8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </section>
</div>

<div class="bg-light footer-margin">
  <div class="container">
    <section class="row">
      <div class="col-12 py-5">
        <div class="row mt-0 mb-md-5 pb-md-0 mb-4 pb-5">
          <div class="col-md-12 col-12 mt-md-0 mt-2 d-flex align-items-center">
            <h5 class="my-md-4 my-2 font-weight-light">Partner With</h5>
          </div>
          <div class="col-md-3 col-6 mt-md-5 mt-0 d-flex align-items-center">
            <img src="../../assets/images/google.svg" class="w-75">
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 d-flex align-items-center">
            <img src="../../assets/images/wawasan.png" class="w-75">
          </div>
        </div>

        <div class="row mt-0 mb-md-5 pb-md-0 mb-4 pb-5">
          <div class="col-md-12 col-12 mt-md-0 mt-2 d-flex align-items-center">
            <h5 class="my-md-4 my-2 font-weight-light">Organizer by</h5>
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 d-flex align-items-center">
            <img src="../../assets/images/gdg.svg" class="w-100">
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 d-flex align-items-center">
            <img src="../../assets/images/wtm.svg" class="w-100">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-12 mt-md-0 mt-2 d-flex align-items-center">
            <h5 class="my-md-4 my-2 font-weight-light">Anchor Sponsors</h5>
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 d-flex align-items-center">
            <img src="../../assets/images/jetbrain.svg" class="w-50">
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 d-flex align-items-center">
            <img src="../../assets/images/greenroom.svg" class="w-75">
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4 mb-md-0 mb-5 d-flex align-items-center">
            <img src="../../assets/images/emanon.svg" class="w-75">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
