<nav class="navbar fixed-bottom navbar-light bg-light shadow">
  <div class="container-fluid">
    <div class="row mt-3 mb-2">
      <div class="col-md-8 col-12">
        <img src="../../assets/images/gdg.svg" class="w-50">
        <p class="pl-3">Keep in touch with Google Developers for <br> the latest I/O announcements</p>
        <div class="pl-3">
            <a href="https://www.facebook.com/gdggeorgetown/?ref=settings"><fa-icon class="fb-color" [icon]="faFacebook" size="lg"></fa-icon></a>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <img src="../../assets/images/2019.svg" class="w-75">
      </div>
    </div>
  </div>
</nav>
