<div class="container footer-margin">
  <section class="row my-5" style="min-height: 200px;">
    <div class="col-lg-6 col-md-4 col-12 d-flex align-items-end">
      <h3>What to expect</h3>
    </div>
    <div class="col-lg-6 col-md-8 col-12">
      <img src="../../assets/images/android-attending.png" class="w-100">
    </div>
  </section>

  <div class="row mt-5 mb-md-0 mb-5 py-md-5 py-0">
    <div class="col-md-4">
      <h4 class="font-weight-light">What to expect and explore</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Meals</p>
      <p>Attendees are offered complimentary breakfast, lunch. Check out the food menu below.</p>
      <div class="row">
        <div class="col-md-5 border border-warning rounded m-3 text-center h-50">
          <p class="font-weight-bold mt-3">Breakfast</p>
          <p class="mb-0 food-text">Mee beehon</p>
          <p class="mb-0 food-text">Karipop</p>
          <p class="food-text">Kuih</p>
          <p class="font-weight-bold mb-0">Drinks</p>
          <p class="food-text">Teh / coffee</p>
        </div>

        <div class="col-md-5 border border-warning rounded m-3 text-center">
          <p class="font-weight-bold mt-3">Lunch</p>
          <p class="food-text mb-0 font-weight-bold">Non-Vegetarian</p>
          <p class="mb-0 food-text">Nasi Tomato</p>
          <p class="mb-0 food-text">Ayam Makar Merah</p>
          <p class="mb-0 food-text">Egg</p>
          <p class="mb-0 food-text">Timun Nanas</p>
          <p class="food-text">Fruit</p>
          <p class="font-weight-bold mb-0">Drinks</p>
          <p class="food-text">Air sirap</p>
          <p class="font-weight-bold food-text">* Vegetarian bento will be provided</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-md-0 mb-5 py-md-5 py-0">
    <div class="col-md-4">
      <h4 class="font-weight-light">Getting to <br> Wawasan Open University</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Plan ahead, expect traffic delays, be patient, and consider carpooling.
      </p>
      <p>Get transportation directions:</p>
      <div class="row">
        <div class="col-md-3 col-6">
          <p class="text-primary"><a href="https://goo.gl/maps/7PBE7E3sSDyHAnSLA" class="text-decoration-none" target="_blank">Google Map</a></p>
        </div>
        <div class="col-md-3 col-6">
          <p class="text-primary"><a href="https://www.waze.com/ul?ll=5.42682150%2C100.32416250&navigate=yes" class="text-decoration-none" target="_blank">Waze</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-md-0 mb-5 py-md-5 py-0">
    <div class="col-md-4">
      <h4 class="font-weight-light">Parking</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Limited parking lots are available at Wawasan Open University <span class="font-weight-bold">(RM5 per entry)</span></p>
      <img src="../../assets/images/map.png" class="map mt-2">
    </div>

  </div>
</div>
