<div class="container footer-margin">
  <section class="row my-5" style="min-height: 200px;">
    <div class="col-lg-6 col-md-4 col-12 d-flex align-items-end">
      <h3>What to expect</h3>
    </div>
    <div class="col-lg-6 col-md-8 col-12">
      <img src="../../assets/images/android-attending.png" class="w-100">
    </div>
  </section>

  <div class="row mt-5 mb-md-0 mb-5 py-5">
    <div class="col-md-4">
      <h4 class="font-weight-light">What to expect and explore</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Meals</p>
      <p>Attendees are offered complimentary breakfast, lunch. Check out the food menu below.</p>
      <div class="row">
        <div class="col-md-5 border border-warning rounded m-2 text-center">
          <p class="font-weight-bold mt-3">Breakfast</p>
          <p>Update Soon</p>
        </div>
        <div class="col-md-5 border border-warning rounded m-2 text-center">
          <p class="font-weight-bold mt-3">Lunch</p>
          <p>Update Soon</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-md-0 mb-5 py-5">
    <div class="col-md-4">
      <h4 class="font-weight-light">Getting to <br> Wawasan Open University</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Plan ahead, expect traffic delays, be patient, and consider carpooling.
      </p>
      <p>Get transportation directions:</p>
      <div class="row">
        <div class="col-md-3 col-6">
          <p class="text-primary"><a href="https://goo.gl/maps/7PBE7E3sSDyHAnSLA" class="text-decoration-none" target="_blank">Google Map</a></p>
        </div>
        <div class="col-md-3 col-6">
          <p class="text-primary"><a href="https://www.waze.com/ul?ll=5.42682150%2C100.32416250&navigate=yes" class="text-decoration-none" target="_blank">Waze</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-md-0 mb-5 py-5">
    <div class="col-md-4">
      <h4 class="font-weight-light">Parking</h4>
    </div>
    <div class="col-md-8">
      <p class="mb-0">Limited parking is available at Wawasan Open University, Each parking per entry will charge RM5.
      </p>
    </div>
  </div>

</div>
