<div class="container">
  <section class="row my-5" style="min-height: 200px;">
    <div class="col-lg-6 col-md-4 col-12 d-flex align-items-end">
      <h3>Speakers</h3>
    </div>
    <div class="col-lg-6 col-md-8 col-12">
      <img src="../../assets/images/android-speaker.png" class="w-100">
    </div>
  </section>
</div>

<div class="speakers-list mt-5 mb-md-0 mb-5 py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 speakers-item" *ngFor="let item of items | async">
        <div class="speakers-item--inner p-3" (click)="showDialog(item)">
          <div class="profile-image">
            <figure class="speaker" [ngStyle]="{ 'background-image': 'url('+item.photo_url+')'}"></figure>
          </div>
          <h4 class="mb-0">{{item.name}}</h4>
          <p class="mb-0 job">
            <small>{{item.position}} @ {{item.job}}</small>
          </p>
          <div class="bio">
            <p>{{item.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
