<div class="container">
  <section class="row my-5 card-height">
    <div class="col-lg-6 col-md-4 col-12 d-flex align-items-end">
      <h3>Speakers</h3>
    </div>
    <div class="col-lg-6 col-md-8 col-12">
      <img src="../../assets/images/android-speaker.png" class="w-100">
    </div>
  </section>
</div>

<div class="speakers-list mt-5 mb-md-0 mb-5 py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 speakers-item" *ngFor="let item of items | async">
        <div class="speakers-item--inner p-3" (click)="showDialog(item)">
          <div class="profile-image">
            <figure class="speaker" [ngStyle]="{ 'background-image': 'url('+item.photo_url+')'}"></figure>
          </div>
          <h4 class="mb-1">{{item.name}}</h4>


          <!--<p class="mb-0 job">-->
            <!--<small>{{item.position}}</small>-->
          <!--</p>-->
          <!--<p class="mb-0">-->
            <!--<small>{{item.job}}</small>-->
          <!--</p>-->

          <ul class="position-info pl-0 mb-0">
            <li><small>{{item.position}}</small></li>
            <li><small>{{item.job}}</small></li>
          </ul>


          <div class="bio">
            <p>{{item.short_bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
