.schedule-time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  span {
    display: block;
    line-height: 1;
    &.hours {
      font-size: 2.0rem;
    }
    &.minutes {
      font-size: 1.4rem;
    }
  }
}

h3 {
  font-size: 1.6rem;
}

.scedule-padding {
  min-height: 1450px;
}

@media (min-width: 768px) {
  //.schedule-time {
  //  width: 120px;
  //}
}
