<div class="container-fluid d-none d-lg-block">
  <div class="row w-100 pt-3">
    <nav class="nav align-items-center w-100">
      <a class="nav-link mr-auto" routerLink="">
        <img src="../../../assets/images/io-logo.png" style="width: 14rem;"/>
      </a>
      <a class="nav-link active" routerLink="/schedule">Schedule</a>
      <a class="nav-link" routerLink="/attending">What to expect</a>
      <a class="nav-link" href="/speaker">Speakers</a>
      <a class="nav-link btn btn-primary" href="https://www.eventbrite.sg/e/google-io-extended-george-town-2019-tickets-62453451956#tickets" tabindex="-1" aria-disabled="true">Buy Ticket Now</a>
    </nav>
  </div>
</div>

<div class="container d-block d-lg-none">
  <div class="row d-flex bd-highlight pt-3">
    <a class="nav-link mr-auto" routerLink="">
      <img src="../../../assets/images/io-logo.png" style="width: 12rem;"/>
    </a>
    <span style="" class="burgerbar pr-3" (click)="toggleNav()">&#9776;</span>
    <div id="mySidenav" class="sidenav" [@navBar]="status">
      <a class="closebtn" (click)="toggleNav()">&times;</a>
      <a routerLink="/schedule" routerLinkActive="active" class="responsive-menu my-3 ml-4">Schedule</a>
      <a routerLink="/attending" class="responsive-menu my-3 ml-4">What to expect</a>
      <a href="/speaker" class="responsive-menu my-3 ml-4">Speaker</a>
      <a class="btn btn-light text-primary my-3 ml-4" href="https://www.eventbrite.sg/e/google-io-extended-george-town-2019-tickets-62453451956#tickets">Buy Now</a>
    </div>
  </div>
</div>
